body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.god {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position:fixed;
  z-index: -1;
} 
